<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adanana.dao.CommentDao">

    <!--
       void insert(Beacon beacon);
       void insertBatch(List<String> BeaconList);
       List<String> find(Beacon beacon);

     -->
    <resultMap id="BeaconResultMap" type="com.adanana.model.Beacon">
        <id property="id" column="id"/>
        <result property="minor" column="minor"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
    </resultMap>
    <select id="find" resultMap="BeaconResultMap" parameterType="com.adanana.model.Beacon">
        select * from beacon
         where beacon.type = #{type}
    </select>
    <insert id="insert" parameterType="com.adanana.model.Beacon">
    INSERT INTO `adanana`.`beacon`
    (`id`,
    `minor`,
    `create_time`,
    `type`)
    VALUES
    (   #{id},
        #{minor},
        #{createTime},
        #{type}
        );
    </insert>
    <insert id="insertBatch">
        INSERT INTO `adanana`.`beacon`
        (`id`,
        `minor`,
        `create_time`,
        `type`)
        VALUES
        <foreach collection="beaconList" item="item"
                 open="(" separator="," close=")">
            #{item.id}, #{item.minor}, #{item.createTime},#{item.type}
        </foreach>
     </insert>
</mapper>